
@model ShopCartViewModel

@{ 
    decimal kargoPrice = 0 ;
    if (Model.TotalPrice < 100 && Model.TotalPrice > 0)
    {
        kargoPrice = 40;
    }  
 }

            <div class="col-lg-4">
                
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Sepeti Özeti</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Ara Toplam</h6>
                            <h6 class="font-weight-medium"> $@Model.TotalPrice </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Kargo</h6>
                            <h6 class="font-weight-medium">$@kargoPrice</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Toplam</h5>
                            <h5 class="font-weight-bold"> $@(@Model.TotalPrice + @kargoPrice) </h5>
                        </div>
                        <a asp-controller="Checkout" asp-action="Index"  class="btn btn-block btn-primary my-3 py-3">Sepeti Onayla</a>
                    </div>
                </div>
            </div>