@model ShopCartViewModel


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
           
           @Html.Partial("_cartdetailPartial",Model.CartItems)

            @Html.Partial("_cartsummaryPartial",Model)
        </div>
    </div>
    <!-- Cart End -->
