@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; // <!-- Admin layout'ı kullanacak -->
}
@model DashboardViewModel

<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">

        <!-- Widgets  -->
        @Html.Partial("_widgetsPartial", Model.widgets)
        <!-- /Widgets -->

        <!--  Traffic  -->
        @Html.Partial("_trafficPartial")
        <!--  /Traffic -->

        <div class="clearfix"></div>

        <!-- Orders -->
        @Html.Partial("_ordersPartial",Model.orders)
        <!-- /.orders -->

        <!-- To Do and Live Chat -->
        <div class="row">
            <div class="col-lg-6">
            </div>

            <div class="col-lg-6">

            </div>
        </div>
        <!-- /To Do and Live Chat -->
        <!-- Calender Chart Weather  -->
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="box-title">Chandler</h4> -->
                        <div class="calender-cont widget-calender">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div><!-- /.card -->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card ov-h">
                    <div class="card-body bg-flat-color-2">
                        <div id="flotBarChart" class="float-chart ml-4 mr-4"></div>
                    </div>
                    <div id="cellPaiChart" class="float-chart"></div>
                </div><!-- /.card -->
            </div> 

         

        </div>
        <!-- /Calender Chart Weather -->
       
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
<div class="clearfix"></div>