@model ProductViewModel
 <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
            
        </div>
    </div>

    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            @Html.Partial("_shopSideBarPartial",Model.filters)
            @Html.Partial("_shopProductPartial",Model.products)
        </div>
    </div>
