 @model User
  <div class="col-md-6 form-group">
            <label>Ad</label>
            <input class="form-control" type="text" value="@Model.Name">
        </div>
        <div class="col-md-6 form-group">
            <label>Soyad</label>
            <input class="form-control" type="text" value="@Model.LastName">
        </div>
        <div class="col-md-6 form-group">
            <label>Telefon</label>
            <input class="form-control" type="text" value="@Model.PhoneNumber">
        </div>