

    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
            @Html.Partial("_registerPartial")
            </div>
            <div class="col-lg-4">
                @Html.Partial("_orderTotalPartial")
                @Html.Partial("_paymentPartial")
            </div>
        </div>
    </div>
    <!-- Checkout End -->
